
.layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
    align-items: center;
    padding: 6px;
}

@media (min-width: 768px) {
    .layout{
        max-width: 70%;
        gap: 16px;
    }
}